BETTER_AUTH_SECRET=SECRET
BETTER_AUTH_URL=AppURL
DATABASE_URL="postgresql://YourUsername:YourPassword@localhost:5432/YourDatabaseName"
SPOTIFY_CLIENT_ID=MySpotifyClientId
SPOTIFY_CLIENT_SECRET=MySpotifyClientSecret