@import "tailwindcss";
:root {
  --bg: hsl(0 0% 98%);
  --bg-dark: hsl(0, 0%, 93%);
  --border-dark: hsl(0, 0%, 85%);
  --bg-dimmed: hsl(0, 0, 0%);
  --bg-light-dimmed: hsl(0, 0, 15%);
  --text: hsl(0, 0%, 0%);
  --text-light: hsl(0, 0%, 44%);
}
